# Sample .env file

ACCOUNT_TO_COPY=your_account_to_copy
TRADING_ADDRESS=your_trading_address
ACCOUNT_ADDRESS=
VAULT_ADDRESS=
PRIVATE_KEY_API=...

LEVERAGE=1
SLEEP_INTERVAL=90
SENTRY_DSN=
ENVIRONMENT=production